body {
  font-family: Helvetica, sans-serif;
  padding: 5%;
  text-align: center;
}

#slideshow {
  overflow: hidden;
  height: 370px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 25s ease infinite;
}

.slide {
  float: left;
  height:370px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image: url(../IMG/2.JPG);
}

.slide:nth-child(2) {
background-image: url(../IMG/3.JPG);
}

.slide:nth-child(3) {
  background-image: url(../IMG/4.JPG);
}

.slide:nth-child(4) {
  background-image: url(../IMG/5.JPG);
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}